.main-div{
    list-style: none;
    /* text-align: center; */
    border: 2px solid black;
    width: 50rem;
    margin:auto;
    /* padding: 0 10px; */
    /* box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25); */
    border-radius: 14px;
    padding: 1rem;
    margin-top: 3rem;

}
li{
    border-bottom: 1px solid gray;
    display: block;
    margin:auto

}
h4{
    margin-block-end: auto;
    

}
.description{
    font-style: oblique;
    display: flex;
    

}
