.main-div{
    display: inline;
    margin-left: 49rem;
    border: 2px solid white;
    border-radius: 20px;
    padding: 11px 40px;
    background-color: rgb(201, 117, 62);


}
h4{
    display: inline-block;
    color:white

}
span{
    padding: 2px 9px;
    /* border: 2px solid red; */
    border-radius: 10px;
    margin-left: 5px;
    background-color: black;
}